# Byte-compiled files
__pycache__/
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# PowerShell outputs
*.ps1

# Logs and build files
*.log
build/
dist/
